<div class="main-content" >
    <!---->    
    <div class="col-md-8" style="width:100%">
                <div class="card" [@carduser]>
                    <div class="header">
                        <h4 class="title">Novos Utilizadores registados na última semana</h4>
                        <p class="category">Por dias</p>
                    </div>
                    <div class="content">
                        <div id="chartHours2" class="ct-chart"></div>
                        <div class="footer">
                            <div class="legend">
                                <i class="fa fa-circle text-info"></i> Número de utilizadores registados                                
                            </div>                          
                            
                        </div>
                    </div>
                </div>
    </div>    
    <!---->
</div>
