<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card" [@carduserprofile]>
                    <br>


                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nome</label>
                                        <input type="text" class="form-control" disabled placeholder="" value="João Lomar">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" class="form-control" disabled placeholder="" placeholder="Username" value="jonhrato10">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input type="email" class="form-control" disabled placeholder="" placeholder="Email" value="joaolomar23@hotmail.com">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Traduz</label>
                                        <input type="email" class="form-control" disabled placeholder="" placeholder="Email" value="Francês para Português, Português para Francês">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div>
                                        <label for="exampleInputEmail1">Traduções feitas: </label>
                                        <a href="">10</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label for="exampleInputEmail1">Traduções recebidas: </label>
                                        <a href="">5</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="" class="btn btn-danger icon  pull-right">Bloquear</a>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user" [@cardprofile]>
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..." />
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="">
                                <img class="avatar border-gray" src="assets/img/3.jpg" alt="..." />

                                <h4 class="title">João Lomar<br />
                                    <small>jonhrato10</small>
                                </h4>
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-7">
                                <fieldset class="rating">
                                    <input type="radio" id="3star5" name="rating2" value="5" /><label class="full" for="star5"
                                        title="Awesome - 5 stars"></label>
                                    <input type="radio" id="3star4half" name="rating2" value="4 and a half" checked="checked" />
                                    <label
                                        class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                        <input type="radio" id="3star4" name="rating2" value="4" /><label class="full" for="star4"
                                            title="Pretty good - 4 stars"></label>
                                        <input type="radio" id="3star3half" name="rating2" value="3 and a half" />
                                        <label
                                            class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                            <input type="radio" id="3star3" name="rating2" value="3" /><label class="full"
                                                for="star3" title="Meh - 3 stars"></label>
                                            <input type="radio" id="3star2half" name="rating2" value="2 and a half" />
                                            <label
                                                class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                                <input type="radio" id="3star2" name="rating2" value="2" /><label class="full"
                                                    for="star2" title="Kinda bad - 2 stars"></label>
                                                <input type="radio" id="3star1half" name="rating2" value="1 and a half" />
                                                <label
                                                    class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                                    <input type="radio" id="3star1" name="rating2" value="1" /><label class="full"
                                                        for="star1" title="Sucks big time - 1 star"></label>
                                                    <input type="radio" id="3starhalf" name="rating2" value="half" />
                                                    <label
                                                        class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                </fieldset>
                            </div>
                            <div class="col-md-2"></div>
                        </div>

                        <p class="description text-center"> Traduzo textos <br> num prazo curto. <br>
                        </p>
                        <hr>
                        <div class="text-center">
                            <button href="" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                            <button href="" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                            <button href="" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <style>
        @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

        fieldset,
        label {
            margin: 0;
            padding: 0;
        }

        body {
            margin: 20px;
        }

        h1 {
            font-size: 1.5em;
            margin: 10px;
        }
        /****** Style Star Rating Widget *****/


        .rating {
            border: none;
            float: left;
        }


        .rating>input {
            display: none;
        }

        .rating>label:before {
            margin: 5px;
            font-size: 1.25em;
            font-family: FontAwesome;
            display: inline-block;
            content: "\f005";
        }


        .rating>.half:before {
            content: "\f089";
            position: absolute;
        }


        .rating>label {
            color: #ddd;
            float: right;
        }
        /***** CSS Magic to Highlight Stars on Hover *****/


        .rating>input:checked~label,
        /* show gold star when clicked */

        .rating:not(:checked)>label:hover,
        /* hover current star */

        .rating:not(:checked)>label:hover~label {
            color: #FFD700;
        }
        /* hover previous stars in list */


        .rating>input:checked+label:hover,
        /* hover current star when changing rating */

        .rating>input:checked~label:hover,
        .rating>label:hover~input:checked~label,
        /* lighten current selection */

        .rating>input:checked~label:hover~label {
            color: #FFED85;
        }
    </style>